# Nicholas EDA

Set up

In [43]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns
from pandas_profiling import ProfileReport

#To Load in our project_funcitons
import importlib.util
spec = importlib.util.spec_from_file_location("project_functions", "/Users/Work/Data Science/course-project-group_1020/analysis/scripts/project_functions.py")
foo = importlib.util.module_from_spec(spec)
spec.loader.exec_module(foo)
df = foo.getData(r"/Users/Work/Desktop/terrorism.csv")

print(df["success"])

sns.set_theme( style = "darkgrid" )

0          True
1          True
2          True
3          True
4          True
          ...
181686     True
181687     True
181688     True
181689    False
181690    False
Name: success, Length: 181691, dtype: bool

## Quick peak.
Now let us take a peek at our data

In [27]:
df.head()

,year,month,day,country_txt,region_txt,provstate,city,latitude,longitude,specificity,...,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,dbsource
0,1970,7.0,2.0,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,1.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS
1,1970,0.0,0.0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,1.0,...,True,800000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS
2,1970,1.0,0.0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,4.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS
3,1970,1.0,0.0,Greece,Western Europe,Attica,Athens,37.99749,23.762728,1.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS
4,1970,1.0,0.0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,1.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS

In [28]:
df.describe()

,year,month,day,specificity,nperps,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,propextent,propvalue,ransomamt,ransompaid,ransompaidus
count,181691.000000,181691.000000,181691.000000,181685.000000,28356.000000,171378.000000,117245.000000,114733.000000,165380.000000,116989.000000,112548.000000,64065.000000,1.037600e+04,1.099000e+03,4.510000e+02,528.000000
mean,2002.638997,6.467277,15.505644,1.451452,32.170440,2.403272,0.045981,0.508058,3.167668,0.038944,0.107163,3.295403,7.849073e+05,3.897125e+06,1.232196e+06,255.634470
std,13.259430,3.388303,8.814045,0.995430,412.375875,11.545741,5.681854,4.199937,35.949392,3.057361,1.488881,0.486912,3.008737e+07,3.344492e+07,1.327112e+07,3006.294428
min,1970.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,1991.000000,4.000000,8.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,5.000000e+03,0.000000e+00,0.000000e+00,0.000000
50%,2009.000000,6.000000,15.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.480000e+04,6.000000e+04,0.000000e+00,0.000000
75%,2014.000000,9.000000,23.000000,1.000000,6.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,4.000000,5.000000e+04,6.247582e+05,7.787500e+04,0.000000
max,2017.000000,12.000000,31.000000,5.000000,25000.000000,1570.000000,1360.000000,500.000000,8191.000000,751.000000,200.000000,4.000000,2.700000e+09,1.000000e+09,2.750000e+08,48000.000000

0         True
1         True
2         True
3         True
4         True
          ...
181686    True
181687    True
181688    True
181689    True
181690    True
Name: success, Length: 181691, dtype: bool

## Describing the coluums.

So theres alot here so i will walk us throught some of the columns, for more infromation look at the code book, /pdfs




{Year, mounth and day}: self explanitory however somtimes the date and mounth are not know, in whcih case we ge an NaN value.

{country_txt, region_txt, provstate, city, latitude
, longitude}: Where the attacks occured.

Specificity: How accurate our location data is.

nperps: Amount of terrorist agents involved.

nkill: Total amount of fatalities.

nkillus: Number of us citizens killed.

nkillter: Number of Terrorist agents killed. 

nwound: Total number of pepole injured.

nwoundus: Total number of us citizns killed.

nwoundte: Number of Terrorist agents wonded.

propextent: The extent of property damange

propvalue: An estimation of the cost of the dammage 

ransomamt: How much randsom was damanded 

ransompaid: How much was randsom was paid

## Pandas Profile Report

In [15]:
prof = ProfileReport(df, minimal=True)
prof.to_file(output_file='profileReport.html')

Summarize dataset:   0%|          | 0/58 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Now we shall look through our profile report. And make some quick observations,

The countrys with the most terrorist activitys are 

-Iraq: 24636
-Pakistan: 14368
-Afghanistan: 12731

Since 1970. There should be no surpise here due to the fact that all of these Countys had a part on the 2003 war on terror.

Next we notice that the vast majority of our Specificity has a value of 1. Which the code book tells us that we know the loacation and latitude / longatued for that atttack.

We know move on to Attack type and

In [23]:
df["success"]

0         True
1         True
2         True
3         True
4         True
          ...
181686    True
181687    True
181688    True
181689    True
181690    True
Name: success, Length: 181691, dtype: bool